* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 100px; */
    /* margin: 100px; */
}



.sidebar{
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #0EC7E0 0%, #2D9CDB 0.01%);
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 140%
}


.login_form_container h2{
    
    color: #585858;
}

.login_form_container{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.login_form_container input{
    display: block;
    background: rgba(33, 24, 87, 0.08);
    border: 1px solid #211857;
    box-sizing: border-box;
    border-radius: 6px;
    width: 300px;
    height: 50px;
    margin: 10px
}

.login_form_container a{
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: #797979;
    text-align: right;
}

.signIn__button{    
    display: block;
    background:  linear-gradient(90deg, #2D9CDB 99.99%, #BB6BD9 100%);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    margin: 10px;
    cursor: pointer;

}

.signUp__button{
    
    background: #fff;
    border: 1px solid #ffffff;

    width: 100px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    border-radius: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #2D9CDB;

}