*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:"Roboto,Sans-serif";
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logo-box{
background: #0000;
}
.logo{
height: 35px;
}
.navbar a:link{
    text-decoration: none;
    font-size:20px;
    color:black;
} 

.main-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
    grid-gap: 3em;
    
} 

.box1{
    position:relative;
    top: 60%;
    left:20%;
    translate: transform(10%,80%);
}

.mainsub{
    display: block;
    font-weight:500;
    
    
}
.mainsub2{
    display: block;
    font-weight: 1000; 
    font-size: 2em;
}

.mainsub3{
font-weight:500;

}

.button{
    background: #4580df;
    color: #fff;
    padding: 15px, 30px;
    margin:10px;
    width:30%;
    height:40%;
}
.box2{
position: relative;
top: 60%;
}
input{
    width:80%;
    padding: 16px;
}
.fa{
    width:80%;
    padding:16px;
}